DATABASE_URL=postgresql://neondb_owner:npg_3XBz5RGFxmPh@ep-dry-resonance-adhyqx5v-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
SECRET_KEY=django-insecure-f9bhc0^k)jw&+=7+-iw^(xsn46fwi^fj-0m!1mjr43ef@&al%#


DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com


# For local SQLite (comment out DATABASE_URL above)
# DATABASE_URL=sqlite:///./db.sqlite3

# CSRF Settings
CSRF_TRUSTED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com

# Email Settings (optional)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
EMAIL_USE_TLS=True
